html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgba(250, 235, 215, 0.329);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.login-body{
  padding: 50px; 
  text-align: center;
  
}
.login-btn, .logout-btn{
  background-color: rgb(34, 157, 206);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;

}
.login-header{
 display: flex;
 justify-content: center;
 
  
}
.loging-btn-head{
  width: 50%;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
 
}
.logout-btn{
  background-color: rgb(233, 171, 56);
}
.form-body{
  text-align: left;
}
.input-pera{
  margin-bottom: 3px;
  color: rgb(7, 90, 122);
  font-size: 18px;
}
.input-control{
  width: 90%;
  padding: 10px;
  border: 1px solid skyblue;
  border-radius: 5px;
  font-size: 18px;
}
.input-control, .submit-btn:focus{
  outline: none;
}
.submit-btn-header{
  text-align: center;
  
}
.submit-btn{
  background-color: rgb(5, 31, 87);
  padding: 13px ;
  color: white;
  font-size: 18px;
  border: none;
  margin: 20px auto;
  width: 30%;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
